request.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="req">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="project">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="market">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="optional"/>
                                    <xs:attribute name="ref-name" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="model">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="optional"/>
                                    <xs:attribute name="ref-name" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="portfolio">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="instrument" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="optional"/>
                                                <xs:attribute name="ref-name" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="calculator">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="optional"/>
                                    <xs:attribute name="ref-name" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="group" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="valuation" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="market">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="optional"/>
                                                            <xs:attribute name="ref-name" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="model">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="optional"/>
                                                            <xs:attribute name="ref-name" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="calculator">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="optional"/>
                                                            <xs:attribute name="ref-name" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="analytics">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="evaluation">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="date" type="xs:date"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="price">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="amount"
                                                                                        type="xs:decimal"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="accruedInterest" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="amount"
                                                                                        type="xs:decimal"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="instrument">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="optional"/>
                                                            <xs:attribute name="ref-name" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>